<div class="mt-3 mb-3 w-100" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
  <div class="w-100" fxLayout="row" fxLayoutAlign="center center">
    <!-- <mat-stepper linear #stepper >
      <mat-step [completed]="stepsStatus.one" isEditable="true">
        <ng-template matStepLabel>Fill out health data</ng-template>
        <ng-container [ngTemplateOutlet]="content"></ng-container>
        <div fxLayout="row" fxLayoutAlign="center center" class="mt-2">
          <button mat-button
            (click)="setCurrentStep('one',stepper)"
            [disabled]="!dentalFg.valid">
            Go Next
          </button>
        </div>
      </mat-step>
      <mat-step [completed]="stepsStatus.two" isEditable="true">
        <ng-template matStepLabel>Specify your purpose</ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
      </mat-step>
    </mat-stepper> -->
    <app-stepper [stepOneDisabled]="!dentalFg.valid"
      [stepOneContent]="content"></app-stepper>
  </div>
</div>  

<ng-template #content>
  <mat-expansion-panel hideToggle expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        DENTAL FORM
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-dental [dentalFg]="dentalFg"></app-dental>
  </mat-expansion-panel>
</ng-template>