<div class="request" fxLayout="column">
  <div fxLayout="column" class="w-100"  *ngIf="(requestData$ | async).length > 0">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
    
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
      </ng-container>
      <ng-container matColumnDef="requestType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
        <td mat-cell *matCellDef="let element">{{element.requestType}}</td>
      </ng-container>
      <ng-container matColumnDef="patientName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Patient</th>
        <td mat-cell *matCellDef="let element">{{element.patientName}}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element">{{element.status}}</td>
        
      </ng-container>
      <ng-container matColumnDef="menu">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-button [matMenuTriggerFor]="requestMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #requestMenu="matMenu">
            <button mat-menu-item (click)="viewRequest(element)">
              View
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of requests"></mat-paginator>
  </div>
  <div *ngIf="(requestData$ | async).length === 0">
    No Request Yet
  </div>
</div>

