<div fxLayout="row" fxLayoutAlign="space-between center"  class="header" fxLayout.xs="column">
  <div fxLayout="row" fxLayoutGap="50px" class="h-100" >
    <div (click)="goHome()">
      <img src="../../../../assets/icons/app-logo.png" height="100%" width="auto">
    </div>
    
    <div fxLayout="column" fxLayoutAlign="center start" class="title">
      <div (click)="goHome()">
        PATIENTS MEDICAL AND DENTAL RECORD SYSTEM
      </div>
      <app-breadcrumb></app-breadcrumb>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" class="mt-4" *ngIf="showLinks && !isMobile">
        <div *ngFor="let service of services; let last=last" class="link" (click)="onServiceSelect(service.link)">
          <span class="label">{{service.label}}</span>
          <span *ngIf="!last">|</span>
        </div>
      </div>
    </div>
  </div>
  <div fxLayot="row" fxLayoutAlign="start end" class="h-100 signing" fxLayoutGap="10px"
    *ngIf="(currentPatient$ | async) as currentPatient" [matMenuTriggerFor]="userDet">
    <mat-icon>person</mat-icon>
    {{currentPatient.firstname}} {{currentPatient.lastname}}
  </div>
  
  <div fxLayot="row" fxLayoutAlign="start end" class="h-100" fxLayoutGap="10px"
    *ngIf="(currentPatient$ | async) === null">
    <div fxLayout="row" fxLayoutAlign="center center" class="signing" (click)="openSignInForm()">
      <mat-icon>person_search</mat-icon> Sign-in
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="signing" (click)="register()">
      <mat-icon>person_add</mat-icon> Register
    </div>
  </div>
</div>

<mat-menu #userDet="matMenu">
  <button mat-menu-item (click)="openInfo()">
    <mat-icon>person</mat-icon>
    Account Information
  </button>
  <button mat-menu-item (click)="openRequestList()">
    <mat-icon>perm_media</mat-icon>
    Patients Request
  </button>
  <button mat-menu-item [matMenuTriggerFor]="adminSettings" *ngIf="(currentPatient$ | async)?.accountType !== 'S'">
    <mat-icon>tune</mat-icon>
    Admin Settings
  </button>
  <button mat-menu-item [matMenuTriggerFor]="reports" *ngIf="(currentPatient$ | async)?.accountType !== 'S'">
    <mat-icon>assignment</mat-icon>
    Reports
  </button>
  <button mat-menu-item (click)="signOut()">
    <mat-icon>exit_to_app</mat-icon>
    Sign-out
  </button>
</mat-menu>

<mat-menu #adminSettings="matMenu">
  <button mat-menu-item (click)="openUserList()">
    <mat-icon>perm_media</mat-icon>
    User List
  </button>
</mat-menu>

<mat-menu #reports="matMenu">
  <!-- <button mat-menu-item (click)="openSummary('C')">
    <mat-icon>assignment</mat-icon>
    Summary of Consultation
  </button>
  <button mat-menu-item (click)="openSummary('T')">
    <mat-icon>assignment</mat-icon>
    Summary of Tooth Extraction
  </button>
  <button mat-menu-item (click)="openSummary('F')">
    <mat-icon>assignment</mat-icon>
    Summary of First-Aid Treatment
  </button>
  <button mat-menu-item (click)="openSummary('H')">
    <mat-icon>assignment</mat-icon>
    Summary of Health Counselling
  </button> -->
  <button mat-menu-item (click)="openSummary('M')">
    <mat-icon>assignment</mat-icon>
    Summary of Medical Consultation
  </button>
  <button mat-menu-item (click)="openSummary('D')">
    <mat-icon>assignment</mat-icon>
    Summary of Dental Consultation
  </button>
</mat-menu>
