<div fxLayout="row" fxLayoutAlign="space-between center"  class="header" fxLayout.xs="column">
  <div fxLayout="row" fxLayoutGap="50px" class="h-100">
    <div>
      <img src="../../../../assets/icons/app-logo.png" height="100%" width="auto">
    </div>
    
    <div fxLayout="column" fxLayoutAlign="center start" class="title">
      <div>
        PATIENTS MEDICAL AND DENTAL RECORD SYSTEM
      </div>
        <app-breadcrumb></app-breadcrumb>
    </div>
  </div>
  
  <div fxLayot="row" fxLayoutAlign="start end" class="h-100" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutAlign="center center" class="signing">
      <mat-icon>person</mat-icon> Sign-in
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="signing">
      <mat-icon>person_add</mat-icon> Register
    </div>
  </div>
</div>
