<div fxLayout="row" fxLayoutAlign="center center" class="login">

  
  <div fxFlex="70">

  </div>
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex="30" class="login-input"
    [formGroup]="loginFg">
    <img src="../../assets/icons/app-logo.png">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
    <button mat-raised-button (click)="login()">LOGIN</button>

    <div class="forgot-password" (click)="resetPassword()">Forgot Password</div>
  </div>
</div>