<div fxALayout="row" fxLayoutAlign="space-between center" *ngIf="!!requestData?.status">
  <button mat-raised-button color="accent" 
    (click)="startProcess()"
    [disabled]="requestData?.status === 'Processing' || requestData?.status === 'Completed'">START PROCESSING</button>
  <button mat-raised-button color="warn" 
    (click)="completeRequest()"
    *ngIf="requestData?.status === 'Processing' || requestData?.status === 'Completed'" 
    [disabled]="requestData?.status === 'Completed'">MARK AS COMPLETE</button>
  <button mat-raised-button color="primary"
    [matMenuTriggerFor]="actionMenu">ACTIONS / FORMS</button>
  <mat-menu #actionMenu="matMenu">
    <button mat-menu-item
      (click)="openMedExam()">
      <mat-icon>monitor_heart</mat-icon> Medical Examination
    </button>
    <button mat-menu-item
      (click)="openMedClearance()">
      <mat-icon>medical_services</mat-icon> Medical Clearance
    </button>
    <button mat-menu-item>
      <mat-icon>description</mat-icon> Dental Service Summary
    </button>
    <button mat-menu-item>
      <mat-icon>medical_information</mat-icon> Referral Form
    </button>
    <button mat-menu-item>
      <mat-icon>arrow_right_alt</mat-icon> Refusal of Care
    </button>
    <button mat-menu-item>
      <mat-icon>analytics</mat-icon> Laboratory and Diagnostic Form
    </button>
  </mat-menu>
</div>