<div class="mt-3 mb-3 w-100" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
  <app-admin-panel class="w-100" *ngIf="patientInfo?.accountType==='A' || patientInfo?.accountType==='F'"
    (startProcessing)="startProcessing()"
    (complete)="completeRequest()"
    [requestData]="currentRequest"></app-admin-panel>
  <div class="w-100" fxLayout="column" fxLayoutAlign="center center" style="position:relative">
    <app-request-status [requestData]="currentRequest" class="w-100"></app-request-status>
    <app-stepper [stepOneDisabled]="!medicalFg.valid"
      (complete)="complete()"
      [stepOneContent]="content"
      [stepTwoContent]="purpose" class="w-100"></app-stepper>
  </div>
</div>

<ng-template #content>
  <mat-expansion-panel hideToggle expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        MEDICAL FORM
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-medical [medicalFg]="medicalFg"></app-medical>
  </mat-expansion-panel>
</ng-template>

<ng-template #purpose >
  <mat-accordion>
    <mat-expansion-panel hideToggle expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          MEDICAL PURPOSE
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-medical-purpose [medicalPurposeFg]="medicalPurposeFg"></app-medical-purpose>
    </mat-expansion-panel>

  </mat-accordion>
</ng-template>